
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims;
@inject IAuthorizationService AuthorizationService
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
    var userClaimId= User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.UserData);
    var userId= userClaimId == null ? 0:Convert.ToInt32( userClaimId.Value);
}

<div class="text-center">
    <h1 class="display-4">Welcome To Canteen System</h1>
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-6 col-6">
            <!-- small box -->
            <div class="small-box bg-gradient-green" style="margin: 30px 100px">
                <div class="inner" style="height:200px">
                    <h3>Orders</h3>

                    <p>View your Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-6">
            <!-- small box -->
            <div class="small-box bg-gradient-teal" style="margin: 30px 100px">
                <div class="inner" style="height:200px">
                    <h3> Balance</h3>

                    <p>View Available Fund</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-6">
            <!-- small box -->
            <div class="small-box bg-gradient-warning" style="margin: 30px 100px">
                <div class="inner" style="height:200px">
                    <h3>View Profile</h3>

                    <p>Personal Information</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="/ShowUserProfile/@(userId)" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-6">
            <!-- small box -->
            <div class="small-box bg-gradient-cyan" style="margin: 30px 100px">
                <div class="inner" style="height:200px">
                    <h3>Cart</h3>

                    <p>View Cart</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
</div>
