@model CanteenSystem.Web.ViewModel.RegisterModel

@{
    ViewData["Title"] = "Register";
    var postUrl = Model.IsAdmin ? "/register/admin" : "/register";
}

<div>


    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <form action="@(postUrl)" method="post">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Firstname">Firstname</label>
                <input type="text" class="form-control" id="Firstname" name="Firstname" placeholder="Firstname">
            </div>
            <div class="form-group col-md-6">
                <label for="Lastname">Lastname</label>
                <input type="text" class="form-control" id="Lastname" name="Lastname" placeholder="Lastname">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" name="Email" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <label for="Department">Department</label>
            <input type="text" class="form-control" id="Department" name="Department" placeholder="Department">
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="IsParent" id="IsParent">
                <label class="form-check-label" for="IsParent">
                    Is Parent
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="Rollnumber">Rollnumber</label>
            <input type="number" class="form-control" id="Rollnumber" name="Rollnumber" placeholder="Rollnumber">
        </div>
        <div class="form-group">
            <label for="Rollnumber">Student Email</label>
            <input type="number" class="form-control" id="StudentEmail" name="StudentEmail" placeholder="Student Email">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>


</div>

